bin/Debug/net9.0/Humanizer.dll
bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net9.0/Microsoft.Build.Locator.dll
bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.dll
bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
bin/Debug/net9.0/Microsoft.Data.Sqlite.dll
bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
